<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" href="{{url_for('static',filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
    <script>
        function callGetOutput(){
            window.location.href = "/get_output";
        }
        setInterval(callGetOutput, 5000);
    </script>
    <h2>Welcome to the Home Page!</h2>
    <div class="container">
        <div class="buttons">
            <form action="/toggle_button/Light1" method="post">
                <input type="hidden" name="button_id" value="Light1">
                <button class="{% if button_states['Light1'] %}active{% endif %}" name="Light1">Light 1</button>
            </form>
            <form action="/toggle_button/Light2" method="post">
                <input type="hidden" name="button_id" value="Light2">
                <button class="{% if button_states['Light2'] %}active{% endif %}" name="Light2">Light 2</button>
            </form>
            <form action="/toggle_button/Light3" method="post">
                <input type="hidden" name="button_id" value="Light3">
                <button class="{% if button_states['Light3'] %}active{% endif %}" name="Light3">Light 3</button>
            </form>
            <form action="/toggle_button/Light4" method="post">
                <input type="hidden" name="button_id" value="Light4">
                <button class="{% if button_states['Light4'] %}active{% endif %}" name="Light4">Light 4</button>
            </form>
            <form action="/toggle_button/Light5" method="post">
                <input type="hidden" name="button_id" value="Light5">
                <button class="{% if button_states['Light5'] %}active{% endif %}" name="Light5">Light 5</button>
            </form>
        </div>

        <div class="house-plan">
            <img src="../static/Image/house_plan.png" alt="House Plan">
            {% if door_states.get('Door1', False) %}
            <img src="../static/Image/Padlock.png" alt="Locked Door 1" class="padlock_image1">
            {% endif %}
            {% if door_states.get('Door2', False) %}
            <img src="../static/Image/Padlock.png" alt="Locked Door 2" class="padlock_image2">
            {% endif %}
            {% if door_states.get('Door3', False) %}
            <img src="../static/Image/Padlock.png" alt="Locked Door 3" class="padlock_image3">
            {% endif %}
            {% if door_states.get('Door4', False) %}
            <img src="../static/Image/Padlock.png" alt="Locked Door 4" class="padlock_image4">
            {% endif %}
            {% if button_states.get('Light1', False) %}
            <img src="../static/Image/Luz.png" alt="Luz 1" class="Light_image1">
            {% endif %}
            {% if button_states.get('Light2', False) %}
            <img src="../static/Image/Luz.png" alt="Luz 2" class="Light_image2">
            {% endif %}
            {% if button_states.get('Light3', False) %}
            <img src="../static/Image/Luz.png" alt="Luz 3" class="Light_image3">
            {% endif %}
            {% if button_states.get('Light4', False) %}
            <img src="../static/Image/Luz.png" alt="Luz 4" class="Light_image4">
            {% endif %}
            {% if button_states.get('Light5', False) %}
                <img src="../static/Image/Luz.png" alt="Luz 5" class="Light_image5">
            {% endif %}

        </div>
    </div>
</body>
</html>